:root {
    --primary-color: #12263a;
    --secondary-color: #f4d1ae;
    --accent-color: #06bcc1;
    --money-color: #85BB65;
    --shiny-gold-color: #D3AF37;
    --dark-gold-color: #CFB53B;
    --electric-purple-color: #BF00FF;
    --dark-gray: #333333;
    --card-height: calc(min(45vh, 42vw));
    --card-width: calc(min(28vw, 30vh));
    --card-font-size: calc(var(--card-width)/10);
    --card-border-radius: calc(var(--card-width)*0.05);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.layout {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-stack {
    display: grid;
    place-items: center;
    background-color: var(--accent-color);
    color: white;
}

.viewed-card-area {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    background-color: var(--secondary-color);
    color: black
}

.viewed-card-information-area {
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
    color: white;
}

.viewed-card-platform {
    display: grid;
    place-items: center;
    background-color: var(--secondary-color);
    color: white;
    /* background-image: url('images/table.png'); */
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 1);
}

.viewed-card {
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
    color: white;
    max-width: var(--card-width);
    max-height: var(--card-height);
    height: 100%;
    width: 100%;
    border-radius: var(--card-border-radius);
}

.user-input-area {
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
    color: white;
}

.money-area {
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: var(--accent-color);
    color: white;
}

.under-construction {

}