.scrap-bowl {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    background-color: grey;
}

.scrap {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-image: url("images/rock.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

:hover.scrap {
    filter: brightness(200%);
}

.maximum-pay{
    width: 400px;
    height: 50px;
    background-image: url("images/money.png");
    border-radius: 10px;
    color: white;
    font-size:xx-large;
    font-family: 'Bangers', sans-serif;
    padding: 10px;
    padding-top: 20px;
    margin: 20px;
}

